{{> header_partial_login}}

<section id="welcomeSection" class="welcome-section">
    {{{views}}}
    <h3 id="dataH3" class="data-h3">
        MySQL Data View Table
    </h3>
    <form action="/logout" id="logoutForm" class="logout-form" method="POST">
        <button type="submit" name="logoutForm" for="logoutForm" value="logout" id="dataviewLogoutBtn" class="dataview-logout-btn">Logout</button>
    </form>
</section>



{{#if users}}
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead">
            <tr class="trHead">
                <th class="th">ID</th>
                <th class="th">Username</th>
                <th class="th">Email</th>
            </tr>
        </thead class="thead">
        <tbody>
            {{#each users}}
                <tr class="{{#if (isOdd @index)}}odd{{else}}even{{/if}} trows"> 
                    <td>{{this.id}}</td>
                    <td>{{this.username}}</td>
                    <td>{{this.email}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <div class="alert alert-info">
        <strong>Info!</strong> No data found.
    </div>
{{/if}}

{{> footer_partial}}


<style>
    .data-view-body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: hsla(188, 53%, 80%, 0.644);
        font-family: 'Titillium Web', sans-serif;
    }
    .views {
        margin: 1.5em 0em 0em 7%;
        display: inline-block;
        font-family: 'Black Ops One', sans-serif;
        font-size: 1.0023rem;
        font-weight: 400;
        color: hsla(298, 97%, 49%, 0.981);
        text-shadow: 0.08em 0.08em 0.432em hsla(0, 0%, 0%, 0.4716);
        letter-spacing: 0.2333em;
    }
    .data-h3 {
        margin: 1.5em 0em 0em 10%;
        display: inline-block;
        font-size: 20px;
        color:hsla(208, 98%, 25%, 0.993);
    }

    .logout-form {
        margin: 1.5em 0em 0em 13%;
        display: inline-block;
    }

    .logout-form .dataview-logout-btn {    
        padding: 0.2em;
        display: inline-block;
		width: 10em;
		height: 2.9em;
		background-color: hsla(0, 1%, 67%, 0.993);
		border: 0.7em solid hsla(207, 44%, 49%, 0.993);
		border-radius: 7px;
		font-family: 'Source Code Pro', monospace;
		font-size: 0.97rem;
		font-weight: 400;
		color: hsla(207, 44%, 49%, 0.993);
		cursor: pointer;
		filter: drop-shadow(1em 1em 2em hsla(0, 0%, 0%, 0.793));
		box-shadow: inset 0 0 0.5em hsla(0, 0%, 0%, 0.493);
    }

    .dataview-logout-btn:hover {
        background-color: hsla(248, 39%, 39%, 0.555);
		color: hsla(0, 0%, 100%, 0.993);
		border: 1px solid hsla(0, 0%, 100%, 0.693);
    }

    .dataview-logout-btn:active {
        background-color: hsla(248, 97%, 15%, 0.555);
		color: hsla(0, 0%, 100%, 0.493);
		border: 1px solid hsla(248, 94%, 81%, 0.979);
		filter: drop-shadow(1em 1em 14em hsla(248, 94%, 81%, 0.579));
		box-shadow: inset 0 0 0.5em hsla(248, 94%, 81%, 0.479);
    }
    .table {
        margin: 1em 0em 0em 5%;
        border-collapse: collapse;
        font-size: 0.9em;
        min-width: 400px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px hsla(0, 0%, 0%, 0.541);
    }
    .table thead .trHead {
        background-color: hsla(208, 98%, 25%, 0.793);
        color: hsla(188, 53%, 80%, 0.993);
        text-align: left;
        font-weight: bold;
    }
    .table th,
    .table td {
        padding: 12px 15px;
    }
    .table tbody {
        border-bottom: 1px solid hsla(0, 0%, 87%, 0.993);
    }    
    .odd {
        background-color: hsla(208, 98%, 25%, 0.793);
        color: hsla(0, 0%, 100%, 0.993);
    }
    .even {
        background-color: hsla(0, 1%, 72%, 0.692);
    }
    .odd:hover {
        background-color: hsla(37, 86%, 60%, 0.705);
        font-size: 1.24em;
        color: hsla(0, 99%, 50%, 0.993);
        font-weight: 700; 
        text-shadow: 0 0 0.75rem hsla(0, 0%, 0%, 0.301); 
        filter: drop-shadow(0 0 0.75rem hsla(0, 0%, 0%, 0.501));
        box-shadow: inset (0.2em 0.2em 1.65em hsla(0, 0%, 0%, 0.689));
        cursor: pointer;   
    }
    .even:hover {
        background-color: hsla(37, 86%, 60%, 0.705);
        font-size: 1.24em;
        color: hsla(0, 99%, 50%, 0.993);
        font-weight: 700;
        text-shadow: 0 0 0.75rem hsla(0, 0%, 0%, 0.301);
        filter: drop-shadow(0 0 0.75rem hsla(0, 0%, 0%, 0.501));
        box-shadow: inset (0.2em 0.2em 1.65em hsla(0, 0%, 0%, 0.689));
        cursor: pointer;  
    }

    @media only screen and (min-width: 800px) {
        body {
            min-width: 800px;
        } 
    }       

</style>