{{> header_partial_login}}

<section id="welcomeSection" class="welcome-section">
    {{{views}}}
</section>

<h3 id="dataH3" class="data-h3">
    MySQL Data View Table
</h3>

{{#if users}}
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead">
            <tr class="trHead">
                <th class="th">ID</th>
                <th class="th">Username</th>
                <th class="th">Email</th>
            </tr>
        </thead class="thead">
        <tbody>
            {{#each users}}
                <tr class="{{#if (isOdd @index)}}odd{{else}}even{{/if}} trows"> 
                    <td>{{this.id}}</td>
                    <td>{{this.username}}</td>
                    <td>{{this.email}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <div class="alert alert-info">
        <strong>Info!</strong> No data found.
    </div>
{{/if}}

{{> footer_partial}}


<style>

    .views {
        margin: 1.5em auto 0em 7%;
        position: absolute;
        display: inline-block;
        font-family: 'Black Ops One', sans-serif;
        font-size: 1.0023rem;
        font-weight: 400;
        color: hsla(298, 97%, 49%, 0.981);
        text-shadow: 0.08em 0.08em 0.432em hsla(0, 0%, 0%, 0.4716);
        letter-spacing: 0.2333em;
    }
    .data-view-body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: hsla(188, 53%, 80%, 0.644);
        font-family: 'Titillium Web', sans-serif;
    }
    .data-h3 {
        margin: 20px 0em 0em 21%;
        font-size: 20px;
        color:hsla(208, 98%, 25%, 0.993);
    }
    .table {
        margin: 1em 0em 0em 5%;
        border-collapse: collapse;
        font-size: 0.9em;
        min-width: 400px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px hsla(0, 0%, 0%, 0.541);
    }
    .table thead .trHead {
        background-color: hsla(208, 98%, 25%, 0.793);
        color: hsla(188, 53%, 80%, 0.993);
        text-align: left;
        font-weight: bold;
    }
    .table th,
    .table td {
        padding: 12px 15px;
    }
    .table tbody {
        border-bottom: 1px solid hsla(0, 0%, 87%, 0.993);
    }    
    .odd {
        background-color: hsla(208, 98%, 25%, 0.793);
        color: hsla(0, 0%, 100%, 0.993);
    }
    .even {
        background-color: hsla(0, 1%, 72%, 0.692);
    }
    .odd:hover {
        background-color: hsla(37, 86%, 60%, 0.705);
        font-size: 1.24em;
        color: hsla(0, 99%, 50%, 0.993);
        font-weight: 700; 
        text-shadow: 0 0 0.75rem hsla(0, 0%, 0%, 0.301); 
        filter: drop-shadow(0 0 0.75rem hsla(0, 0%, 0%, 0.501));
        box-shadow: inset (0.2em 0.2em 1.65em hsla(0, 0%, 0%, 0.689));
        cursor: pointer;   
    }
    .even:hover {
        background-color: hsla(37, 86%, 60%, 0.705);
        font-size: 1.24em;
        color: hsla(0, 99%, 50%, 0.993);
        font-weight: 700;
        text-shadow: 0 0 0.75rem hsla(0, 0%, 0%, 0.301);
        filter: drop-shadow(0 0 0.75rem hsla(0, 0%, 0%, 0.501));
        box-shadow: inset (0.2em 0.2em 1.65em hsla(0, 0%, 0%, 0.689));
        cursor: pointer;  
    }

    @media only screen and (min-width: 800px) {
        body {
            min-width: 800px;
        } 
    }       

</style>